<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.web.mapper.configKeepMapper">
  
   <insert id="insert"> 
   		insert into config_keep (person,date,date_start,date_end,work_name,work_type,work_content,equipment,memo,asset_id)values
 		(#{person},#{date},#{date_start},#{date_end},#{work_name},#{work_type},#{work_content},#{equipment},#{memo},#{asset_id})
     </insert> 
 	
 	<select id="selectAll" resultType="ConfigKeepVO">
     <![CDATA[
 		select * from config_keep
      ]]> 
     </select>
     
 	 <select id="selectById" resultType="ConfigKeepVO">
 		select * from config_keep where config_id = #{id}
     </select> 
     
     <select id="selectByAssetId" resultType="ConfigKeepVO">
 		select * from config_keep where config_id = #{id}
     </select>    
     
    <update id="update">
	 	update config_keep set person=#{person},date=#{date},date_start=#{date_start},date_end=#{date_end},work_name=#{work_name},
	 	work_type=#{work_type},work_content=#{work_content},equipment=#{equipment},memo=#{memo}
		 where integ_id=#{integ_id}
    </update>
    
    <update id="updateAdmin">
	 	update config_keep set m_review=#{m_review},m_vul=#{m_vul},m_path=#{m_path},m_infra=#{m_infra},m_locate=#{m_locate},m_okay=#{m_okay}
		 where integ_id=#{integ_id}
    </update>

 
    <delete id="delete">
		delete from config_keep where integ_id = #{id}
    </delete>
 		
</mapper>  